$color-white: #fff;
$color-black: #000;
$color-main-dark: #191718;
$color-main-light: #e0e5e9;
$color-blue: #0a62d0;
$color-yellow: #f3d849;
$color-orange: #f3a10a;
$color-blackout: #292929;
$color-background-hover: #414040;


$laptop-width: 1440px;
$large-tablet-width: 1200px;
$tablet-width: 768px;
$mobile-width: 639px;