.main-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.4rem;
  line-height: 1.5rem;
}

.main-navigation__link {
  display: block;
  margin: 0.5%;
  padding: 0.5%;
}
