<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Authorization form</title>
    <link rel="stylesheet" href="./auth.css" />
  </head>
  <body>
    <div class="container-forms">
      <form action="#" class="login-form" id="loginToAccount">
        <h2 class="login-form__title">Login</h2>
        <div class="login-form__message login-form__message_error">Incorrect username/password combination</div>
        <div class="login-form__input-group">
          <input id="nickName" type="text" class="login-form__input" autofocus placeholder="Input user name" />
          <div class="login-form__input-error-message" id="errorNameLog">This is an error message</div>
        </div>
        <div class="login-form__input-group">
          <input id="password" type="password" class="login-form__input" placeholder="Password" />
          <div class="login-form__input-error-message"></div>
        </div>
        <button id="loginButton" class="form__button" type="submit">Continue</button>
        <p class="form__text">
          <a href="/" id="'linkCreateAccount" class="form__link">Don't have an account? Create account</a>
        </p>
      </form>
      <form action="#" class="create-form" id="createAccount">
        <h2 class="create-form__title">Create account</h2>
        <div class="create-form__message create-form__message_error">Incorrect username/password combination</div>
        <div class="create-form__input-group">
          <input id="nickName" required type="text" class="create-form__input" autofocus placeholder="Input user name" />
          <div class="create-form__input-error-message">This is an error message</div>
        </div>
        <div class="create-form__input-group">
          <input id="password" required type="password" class="create-form__input" placeholder="Password" />
          <div class="create-form__input-error-message"></div>
        </div>
        <div class="create-form__input-group">
          <input id="passwordRepeat" required type="password" class="create-form__input" placeholder="Confirm password" />
          <div class="create-form__input-error-message"></div>
        </div>
        <div class="create-form__input-group">
          <input id="firstName" type="text" class="create-form__input" placeholder="First Name" />
          <div class="create-form__input-error-message"></div>
        </div>
        <div class="create-form__input-group">
          <input id="lastName" type="text" class="create-form__input" placeholder="Last Name" />
          <div class="create-form__input-error-message"></div>
        </div>
        <div class="create-form__input-group">
          <input id="coach" type="text" class="create-form__input" placeholder="Input true if you're a coach" />
          <div class="create-form__input-error-message"></div>
        </div>
        <div class="create-form__input-group">
          <input id="player" type="text" class="create-form__input" placeholder="Input true if you're a player" />
          <div class="create-form__input-error-message"></div>
        </div>
        <button id="createButton" class="form__button" type="submit">Create</button>
        <p class="form__text">
          <a href="/" id="'linkCreateAccount" class="form__link">Have you got an account? LogIn</a>
        </p>
      </form>
    </div>
    <script src="./auth.js"></script>
  </body>
</html>
